* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f7ff;
  color: #0161ea;
}

p {
  font-size: 100px;
  margin: 0;
  margin-bottom: 15px;
}

small {
  font-size: 16px;
}

.timer {
  text-align: center;
}
